@use '../../styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

.g2-tooltip {
    background-color: #24204b !important;
    position: relative;
    width: 144px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    box-shadow: none !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    font-family: 'Proxima Nova';
}
.g2-tooltip-list {
    color: #aaa4e3;
    list-style-type: none !important;
}
.g2-tooltip-marker {
    display: none;
}
.g2-tooltip-title {
    background-color: #2b275b;
    border-radius: 30px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    top: -25px;
    right: 0;
    position: absolute;
    left: 0;
    color: #635e98;
    box-shadow: 1px 1px -17px #635e98;
}

.chartContainer {
    display: flex;
    width: 100%;
    margin-top: 28px;
    align-items: flex-end;
    canvas {
        height: 500px !important;
        border: 1px solid #2a264f;
    }
    //select
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent;
        border: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: theme.$textColor;
    }
    .ant-select-arrow {
        height: 100%;
        color: theme.$textColor;
        top: 40%;
    }
    .ant-select-open {
        background-color: transparent;
    }
    .ant-slider-handle {
        display: none;
    }
    .ant-select {
        color: theme.$textColor;
    }

    //slider
    .ant-slider-disabled .ant-slider-track {
        background-color: #679cf6 !important;
        height: 6px;
        margin-top: -1px;
        z-index: 1;
        border-radius: 3px;
        box-shadow: 0 5px 15px -50px #070808;
    }
    .ant-slider-step {
        background-color: #413b7a;
    }
    .ant-slider-rail {
        height: 4px;
        border-radius: 3px;
    }

    //dropdown
    .ant-btn-icon-only {
        background-color: transparent;
        color: theme.$textColor;
        font-size: 30px;
        border: none;
    }
    .ant-btn-icon-only:hover,
    .ant-btn:focus {
        background-color: transparent;
        outline: none;
    }

    ////////////////////

    .chart {
        width: 50%;
        height: 400px;
        background-color: blue;
    }
    .wrapButton {
        margin-left: 0px;

        button {
            margin-right: 28px;
            transition: 0.5s;
            color: #413d77;
        }
        button:hover,
        .focus {
            text-shadow: 0 0 6px rgba(105, 116, 219, 0.5);
            color: theme.$textColor;
        }
    }

    .activeUser {
        width: 564px;
        padding: 20px 28px;
        background-color: theme.$backgroundBox;
        border-radius: 17px;
        box-shadow: 3px 10px 50px -12px #000;
        border: 0.2px solid #433e73;
        color: theme.$colorBox;
        h2 {
            color: theme.$colorBox;
            font-size: 20px;
        }
    }
    .user {
        font-family: 'LeagueSpartan', sans-serif;
        h2 {
            font-size: 20px;
            color: theme.$colorBox;
            margin: 0;
        }
        h3 {
            font-size: 12px;
            color: #635e98;
            margin: 0;
        }
        h4 {
            font-size: 16px;
            color: theme.$colorBox;
            margin: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .chartContainer {
        .columnChart {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1600px) {
    .chartContainer {
        .activeUser {
            width: 580px;
            padding: 28px 32px;
            height: 534px;
        }
        .user {
            h2 {
                font-size: 22px;
            }
            h3 {
                font-size: 12px;
            }
            h4 {
                font-size: 18px;
            }
        }
        .columnChart {
            margin-bottom: -60px;
        }
    }
}
