@media screen and (max-width: 992px) {
    .menuProject {
        width: 0px;
        height: 100%;
    }
    .contentPage {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .menuProject {
        width: 95px;
        display: flex;
        height: 100%;
    }
    .contentPage {
        width: 100%;
    }
}
