@use '../../styles/theme.scss';
.search {
    max-width: 240px;
    height: 40px;
    border: 1px solid theme.$textColor;
    width: 70%;
    border-radius: 27px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    transition: 0.3s ease;
    input,
    button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        color: theme.$textColor;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: theme.$textColor;
        opacity: 0.6; /* Firefox */
        font-style: italic;
    }
    button {
        cursor: pointer;
        transition: 0.3s ease;
    }
    button:hover {
        text-shadow: theme.$boxShadow;
        color: theme.$borderBox;
    }
}

.search:hover {
    border-color: theme.$borderBox;
    box-shadow: theme.$boxShadow;
}

@media screen and (max-width: 768px) {
    .search {
        width: 90%;
        margin: 30px auto;
        padding: 10px;
    }
}
